{% extends 'layout.html'%}

{% block content %}
<style>
   section {
   background: black;
	padding: 200px 0px;
	background-image: url(../../static/img/blog/404.png) ;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	text-align: center;
}
</style>
<section>
   <h1 class="col-md-12 col-sm-12" style="font-size: 2rem">You Don't Have The Permission To Do That (403) </h1>
   <h4 style="margin-left: 18px"> Please check your account and try again </h4>
</section>

{% endblock content %}