{% extends 'layout.html' %}
{% block content %}
    <hr class="offset-lg">

    <div class="product">
    	<div class="container">
        <div class="row">
          <div class="col-sm-7 col-md-7">
            <div class="carousel product" data-count="5" data-current="1">
              <!-- <button class="btn btn-control"></button> -->
              <h1>You may also like</h1>
              <div class="items">
                <div class="item active" data-marker="1">
                  <img src="../static/img/product/1.jpg" alt="ChromeBook 11"/>
                </div>
                <div class="item" data-marker="2">
                  <img src="../static/img/product/2.jpg" alt="ChromeBook 11"/>
                </div>
                <div class="item" data-marker="3">
                  <img src="../static/img/product/3.jpg" alt="ChromeBook 11"/>
                </div>
                <div class="item" data-marker="4">
                  <img src="../static/img/product/4.jpg" alt="ChromeBook 11"/>
                </div>
                <div class="item" data-marker="5">
                  <img src="../static/img/product/5.jpg" alt="ChromeBook 11"/>
                </div>
                <div class="item" data-marker="6">
                  <div class="tiles">
                    <a href="#video" data-gallery="#video" data-source="youtube" data-id="hED0N4CFoqs" data-title="An upscale new Chromebook from HP" data-description="The new HP Chromebook 13 runs a Core M CPU inside a slim aluminum body.">
                      <img src="../static/img/product/video.jpg" alt="ChromeBook 11">

                      <div class="overlay"></div>
                      <div class="content">
                        <div class="content-outside">
                          <div class="content-inside">
                            <i class="ion-ios-play"></i>
                            <h1>Watch video review</h1>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>

              <ul class="markers">
                <li data-marker="1" class="active"><img src="../static/img/product/1.jpg" alt="Background"/></li>
                <li data-marker="2"><img src="../static/img/product/2.jpg" alt="Background"/></li>
                <li data-marker="3"><img src="../static/img/product/3.jpg" alt="Background"/></li>
                <li data-marker="4"><img src="../static/img/product/4.jpg" alt="Background"/></li>
                <li data-marker="5"><img src="../static/img/product/5.jpg" alt="Background"/></li>
                <li data-marker="6"><img src="../static/img/product/video.jpg" alt="Background"/></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-5 col-md-5">
            <img src="../static/img/brands/hp.png" alt="HP" class="brand hidden-xs" />

            <h1>HP Chromebook 11</h1>

            <p> &middot; Chrome OS™</p>
            <p> &middot; Intel® Celeron® processor</p>
            <p> &middot; Intel HD Graphics</p>

            <p class="price">$209.99</p>
            <p class="price through">$249.99</p>
            <br><br>

            <button class="btn btn-primary btn-rounded"> <i class="ion-bag"></i> Add to cart</button>
          </div>
        </div>
    		<br><br><br>


	    	<div class="row">
	    		<div class="col-sm-7">
	    			<h1>HP Chromebook 11</h1>
		    		 <br>

		    		 <p>
		    		 	The stylish HP Chromebook provides a speedy connection to your protected online content and automatically updated apps, all within an ultra-thin full-sized notebook, providing a comfortable gateway to surf, socialize and play.
		    		 </p>
		    		 <br>

             <h2>Product specifications</h2>
             <br>

              <div class="row specification">
                <div class="col-sm-6"> <label>Operating system</label> </div>
                <div class="col-sm-6"> <p>Chrome OS™</p> </div>
              </div>
              
              <div class="row specification">
                <div class="col-sm-6"> <label>Processor</label> </div>
                <div class="col-sm-6"> <p>Intel® Celeron® N2840 with Intel® HD Graphics (2.16 GHz, up to 2.58 GHz, 1 MB cache, 2 cores)</p> </div>
              </div>

              <div class="row specification">
                <div class="col-sm-6"> <label>Processor technology</label> </div>
                <div class="col-sm-6"> <p>Intel Turbo Boost Technology</p> </div>
              </div>

              <div class="row specification">
                <div class="col-sm-6"> <label>Graphics</label> </div>
                <div class="col-sm-6"> <p>Intel HD Graphics</p> </div>
              </div>

              <div class="row specification">
                <div class="col-sm-6"> <label>Memory</label> </div>
                <div class="col-sm-6"> <p>3 GB DDR3L SDRAM (onboard)</p> </div>
              </div>

              <div class="row specification">
                <div class="col-sm-6"> <label>Hard drive</label> </div>
                <div class="col-sm-6"> <p>1 TB eMMC</p> </div>
              </div>

              <div class="row specification">
                <div class="col-sm-6"> <label>Wireless</label> </div>
                <div class="col-sm-6"> <p>802.11ac (2x2) and Bluetooth® 4.0 combo</p> </div>
              </div>

              <div class="row specification">
                <div class="col-sm-6"> <label>Power supply</label> </div>
                <div class="col-sm-6"> <p>45 W AC power adapter</p> </div>
              </div>

              <div class="row specification">
                <div class="col-sm-6"> <label>Battery</label> </div>
                <div class="col-sm-6"> <p>3-cell, 36 Wh Li-ion</p> </div>
              </div>
          </div>
	    	</div>
    	</div>
    </div>
    <br><br>

    <section class="products">
        <div class="container">
            <h1 class="h3">Special products</h1>
            <h5>We offer special products The original iPhone introduced the world to Multi-Touch, forever changing the way people experience technology. With 3D Touch, you can do things that were never possible before. It senses how deeply you press the display, letting you do all kinds of essential things more quickly and simply. And it gives you real-time feedback in the form of subtle taps from the all-new Taptic Engine.</h5>
            
            <div class="row">
              {% for rec in recommendation %}
              <div class="col-sm-6 col-md-3 product">
                <a href="#favorites" class="favorites" data-favorite="inactive"><i class="ion-ios-heart-outline"></i></a>
                <a href=""><img src="{{url_for('static', filename='img/' + rec.image)}}" alt="HP Chromebook 11"/></a>

                <div class="content">
                 <h1 class="h4">{{ rec.name }}</h1>
            <p class="price">${{ rec.price }}</p>
            <p class="price through">${{ rec.discount }}</p>
            <label>Laptops</label>
            <div style="display: flex">
            <a href="{{ url_for('recom.recommendations', recommendation_id=rec.id) }}" class="btn btn-link"> Details</a>
            <a href="{{ url_for('main.contact')}}" class="btn btn-link"> Get Yours</a>
            </div>
                </div>
              </div>
              {% endfor %}
            </div>
        </div>
    </section>
    <br><br>
{% endblock content %}